.app-body {
  height: 100%;
  width: 100vw;
  background-color: #58B8FF;
  position: relative;
  font-family: 'Numans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 50px;
}

.days-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
}

.days {
  font-size: 110px;
  font-weight: 700;
  color: #fff;
  line-height: 90px;
}

.days-view {
  position: absolute;
  bottom: 96px;
  left: 30px;
}

.exam-name {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  line-height: 59px;
  margin-bottom: 0;
}

.exam-date {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}

.head-title {
  position: absolute;
  top: 120px;
  left: 30px;
}
.circle-ui {
  content: ' ';
  height: 50px;
  width: 50px;
  background: #FF5656;
  border-radius: 100%;
  position: absolute;
  top: 45px;
  left: 27px;
}
.head-title::before {
  content: ' ';
  height: 1px;
  width: 29px;
  background: #fff;
  position: absolute;
}
.head-title::after {
  content: ' ';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  background: #fff;
  height: 1px;
}
img.page-shape {
  height: auto;
  width: 55%;
  position: absolute;
  right: 0;
  top: 19%;
}
img.home-btn {
  position: absolute;
  right: 11px;
  bottom: 100px;
}
.list-body {
  margin: 0px 10px;
  padding-top: 20px;
}
.list-box {
  background: #fff;
  border-radius: 10px;
  padding: 7px 20px;
  margin-bottom: 15px;
}
.list-name {
  font-weight: 600;
  font-size: 19px;
}
.title-page {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  margin-left: 27px;
  padding-top: 19px;
  text-transform: uppercase;
}